<article class="post">
  {{ .Render "featured" }}
  {{ .Render "header" }}
  {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") | truncate (default 500 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
  {{ $.Scratch.Get "summary" }}
  <footer>
    <div class="meta">
      <time class="published" datetime="{{ .Date }}">
          {{ default (i18n "date_format") | .Date.Format }}
      </time>
      <span class="author">{{ .Params.author }}</span>
      {{ if .Site.Params.ReadingTime }}
      <p>{{ i18n "postreadingtime" .ReadingTime }}</p>
      {{ end }}
    </div>
  </footer>
</article>
